{% extends "layout.html" %}
{% block content %}
    <div class="main_body"> 
        <h1> My List </h1>
    </div>
    <!-- Table credits: https://stackoverflow.com/questions/48570109/layout-a-flex-box-similar-to-a-table -->
    <table style="width:100%">
        <tr>
            <th>Show Name</th>
            <th>Release Date</th>
            <th>Season Number</th>
            <th>Episode Number</th>
            <th>Episode Name</th>
            <th>Date Watched</th>
            <th>Episode Rating</th>
        </tr>
        {% for row in eps %}
        <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[15]}}</td>
            <td>{{row[14]}}</td>
            <td>{{row[17]}}</td> 
            <td>{{row[18]}}</td>
        </tr>
        <tr><td colspan="9"><hr></td></tr>
        {% endfor %}
    </table>
      {% endblock content %}